/*abstract should always be first imports, since other .scss depends on them*/
/*global definition will stay here*/
*, *::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  /*this will be inherit from body*/ }

html {
  /*font-size: 10px;*/
  /*above is bad practice, since user wont be able to change the font size if they have some sight problems */
  font-size: 62.5%;
  /*this is because default browser foont size if 16px. 62.5% of 16px = 10px*/ }

body {
  box-sizing: border-box; }

.border1 {
  border: 0.2rem solid #000; }

body {
  font-family: "Lato", sans-sarif;
  font-weight: 400;
  line-height: 1.7;
  /*Spacing between two text lines*/
  color: #777;
  padding: 3rem;
  font-size: 1rem;
  /*padding properties will get not inherited
   But font properties will get inherited usually
   */ }

.heading-primary {
  color: white; }

.heading-primary--main {
  display: block;
  letter-spacing: 3rem;
  font-weight: 400;
  font-size: 8rem;
  text-transform: uppercase;
  animation: moveInLeft 1s; }

.heading-primary--sub {
  display: block;
  letter-spacing: 1.5rem;
  text-transform: uppercase;
  animation: moveInRight 1s;
  margin-bottom: 4rem; }

@keyframes moveInLeft {
  0% {
    transform: translate(-10rem); }
  80% {
    transform: translate(1rem); }
  100% {
    transform: translate(0); } }

@keyframes moveInRight {
  0% {
    transform: translate(10rem); }
  80% {
    transform: translate(-1rem); }
  100% {
    transform: translate(0); } }

@keyframes moveInBottom {
  0% {
    transform: translate(0, 30rem); }
  80% {
    transform: translate(0, -1rem); }
  100% {
    transform: translate(0, 0); } }
